## Classificação

In [2]:
#importando bibliotecas e ocutando warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
#capiturando dados de arquivo csv
dados = pd.read_csv('train.csv', sep=';')
dados.head()

,companhia,opex,remuneracaoEmAcoes,despesasAdministrativas,exercicioOpcoes,compraTitulos,jurosAPagar,valorGastoExercicioOpcoes,amortizacao,rendaOperacoesContinuadas,lucroBruto,receitas,ativos,passivos,depreciacao,ganhosPorAcao,ebtida,temDivida
0,1750.0,NaN,NaN,NaN,NaN,NaN,NaN,6700000.0,NaN,40500000.0,236900000.0,NaN,1.442100e+09,NaN,NaN,1.37,NaN,0.0
1,1800.0,NaN,NaN,NaN,314000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.124700e+10,NaN,871000000.0,2.94,NaN,1.0
2,2034.0,NaN,NaN,NaN,729000.0,NaN,NaN,729000.0,30977000.0,NaN,142785000.0,NaN,5.407780e+08,236336000.0,1522000.0,1.19,NaN,1.0
3,2098.0,NaN,NaN,NaN,NaN,NaN,NaN,1248782.0,NaN,NaN,39561218.0,1.098120e+08,8.142137e+07,38237805.0,1318357.0,1.44,NaN,0.0
4,2178.0,NaN,NaN,9939000.0,NaN,NaN,NaN,NaN,NaN,-1275000.0,NaN,1.944279e+09,2.432150e+08,90705000.0,NaN,NaN,NaN,0.0

In [4]:
#missing dos dados quantidas de colunas com campos nulos em porcentagem
dados.isnull().sum() / len(dados)

companhia                    0.000000
opex                         0.560714
remuneracaoEmAcoes           0.777857
despesasAdministrativas      0.590238
exercicioOpcoes              0.675000
compraTitulos                0.800238
jurosAPagar                  0.804762
valorGastoExercicioOpcoes    0.735238
amortizacao                  0.784762
rendaOperacoesContinuadas    0.809524
lucroBruto                   0.601905
receitas                     0.556667
ativos                       0.000000
passivos                     0.251429
depreciacao                  0.458810
ganhosPorAcao                0.335476
ebtida                       1.000000
temDivida                    0.000000
dtype: float64